body {
    background-color: #909090;
    margin: 0;
}

.square {
    padding-bottom: 30%;
    width: 30%;
    background-color: #606060;
    margin: 1.66%;
    float: left;
    border-radius: 8px;
}

.bar {
    background-color: white;
    height: 40px;
    padding-left: 10%;
}

button {
    background-color: transparent;
    border: none;
    color: black;
    text-transform: uppercase;
    font-family: monospace;
    height: 40px;
}

.selected {
    border-bottom: 3px solid #606060;
    background-color: lightgrey;
}

h1 {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    color: white;
    text-transform: uppercase;
    font-family: monospace;
    height: 150px;
}

#reset {
    float: right;
    margin-right: 10%;
}

#message {
    font-family: sans-serif;
    margin: 0 auto;
    text-align: center;
}

.container {
    position: relative; 
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 50px;;
    width: auto;
    height: auto;
    min-width: 300px;
    min-height: 600px;
    max-width: 80%;
    height: 800px;
}

.bomb {
    position: absolute;
    top: 0px;
    box-sizing: border-box;
    width: 200px;
    height: 800px;
    margin: 0px;
    /* border: 5px solid rgb(123, 106, 78); */
    background-color: rgb(123, 106, 78);
    background-image: url("https://www.transparenttextures.com/patterns/exclusive-paper.png");
    border-radius: 12px;
    box-shadow: 
        inset 5px 0px 8px 0px rgba(0, 0, 0, 0.5),
        inset -5px -5px 8px 0px rgba(0, 0, 0, 0.4),
        0px 5px 10px 10px rgba(0, 0, 0, 0.4);
}

#receiver {
    position: absolute;
    top: 120px;
    height: 160px;
    width: 60px;
    background-color: #101010;
    border-radius: 3px;
    box-shadow: 
        0px 5px 5px 3px rgba(0, 0, 0, 0.4);
}

#receiver::before {
    content: "";
    position: absolute;
    top: 453px;
    left: 205px;
    width: 310px;
    height: 18px;
    background-color: rgb(233, 231, 208);
    border-radius: 2px;
}

.c4-1 {
    left: 60px;
    position: absolute;
    border-right: 0px;
}

.c4-2 {
    left: 260px;
    position: absolute;
}

.c4-3 {
    left: 460px;
    position: absolute;
    border-left: 0px;
}

.circuit {
    position: absolute;
    top: 160px;
    left: 210px;
    height: 460px;
    width: 300px;
    border: 1px solid #404040;
    background: repeating-linear-gradient(0.38turn,
        rgb(69, 87, 76), 
        rgb(69, 87, 76) 5px, 
        rgba(79, 97, 86, 1) 5px, 
        rgba(79, 97, 86, 1) 10px);
    box-shadow: 
        0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}

.circuit::before {
    content: "";
    position: absolute;
    top: -110px;
    left: -50px;
    height: 120px;
    width: 400px;
    border-radius: 5px;
    border-left: 1px solid #404040;
    border-right: 1px solid #404040;
    background: repeating-linear-gradient(0.38turn,
        rgb(69, 87, 76), 
        rgb(69, 87, 76) 5px, 
        rgba(79, 97, 86, 1) 5px, 
        rgba(79, 97, 86, 1) 10px);
    box-shadow: 
        0px 10px 10px 5px rgba(0, 0, 0, 0.5);
}

.circuit::after {
    content: "";
    position: absolute;
    top: 115px;
    left: -5px;
    height: 18px;
    width: 310px;
    background-color: rgb(233, 231, 208);
    border-radius: 2px;
}

.calc-display {
    display: flex;
    box-sizing: border-box;
    position: absolute;
    top: 65px;
    left: 190px;
    height: 75px;
    width: 340px;
    border: 12px solid #202020;
    border-radius: 1px;
    background-color: rgb(213, 213, 82);
    align-items: center;
    justify-content: right;
    box-shadow: 
        0px 0px 0px 5px #171717,
        inset 0px 0px 10px 5px rgba(0, 0, 0, 0.3),
        0px 5px 10px 5px rgba(0, 0, 0, 0.5);
}

.calc-base {
    position: absolute;
    box-sizing: border-box;
    top: 293px;
    left: 220px;
    width: 270px;
    height: 280px;
    background-color: #404040;
    background-image: url("https://www.transparenttextures.com/patterns/black-paper.png");
    display: grid;
    grid-template-columns: repeat(3, 60px);
    grid-template-rows: repeat(4, 60px);
    column-gap: 20px;
    row-gap: 8px;
    padding-top: 8px;
    padding-left: 25px;
    box-shadow: 
        0px 0px 10px 5px rgba(0, 0, 0, 0.5)
}

.bomb-button {
    display: flex;
    background-color: rgb(216, 215, 194);
    padding-left: 32%;
    padding-bottom: 8px;
    border-radius: 6px;
    align-items: center;
    font-family: sans-serif;
    font-size: 40px;
    box-shadow:
        inset 0px -8px rgba(0, 0, 0, 0.6),
        0px 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.tape {
    position: absolute;
    top: 160px;
    width: 660px;
    height: 80px;
    background-color: #404040;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
    box-shadow: 
        0px 3px 3px 0px rgba(0, 0, 0, 0.4),
        0px -1px 2px 0px rgba(0, 0, 0, 0.4);
}

.tape::after {
    content: "";
    position: absolute;
    top: 440px;
    left: 60px;
    width: 600px;
    height: 80px;
    background-color: #404040;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
    box-shadow: 
        0px 3px 3px 0px rgba(0, 0, 0, 0.4),
        0px -2px 3px 0px rgba(0, 0, 0, 0.4);
}

.tape::before {
    content: "";
    position: absolute;
    top: 300px;
    left: 470px;
    width: 85px;
    height: 40px;
    background-color: white;
}

.keypad-wires {
    position: absolute;
    box-sizing: border-box;
    top: 350px;
    left: 165px;
    width: 150px;
    height: 150px;
    border: 9px solid white;
    border-radius: 150px;
}

.keypad-wires::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    top: 0px;
    left: 0px;
    width: 120px;
    height: 120px;
    border: 9px solid darkred;
    border-radius: 120px 120px 0 120px;
}

.blockwire {
    position: absolute;
    box-sizing: border-box;
    top: 140px;
    left: 463px;
    width: 40px;
    height: 80px;
    background-color: white;
}

.blockwire::before {
    content: "";
    position: absolute;
    top: 80px;
    width: 50px;
    height: 80px;
    border: 40px solid white;
    border-top: 0px;
    border-right: 0px;
    border-radius: 0 0 0 100px;
}

.blockwire::after {
    content: "";
    position: absolute;
    top: 160px;
    left: 90px;
    width: 50px;
    height: 120px;
    border: 40px solid white;
    border-left: 0px;
    border-radius: 0px 80px 80px 0px;
}

.wire {
    position: absolute;
    top: -150px;
    width: 100px;
    height: 200px;
    box-sizing: border-box;
    border: 10px solid grey;
    border-radius: 50px 60px 100px 0px;
}

.wire1 {
    left: 100px;
}

.wire2 {
    left: 150px;
}

.wire3 {
    left: 200px;
}

.wire4 {
    left: 300px;
}

.wire5 {
    left: 350px;
}

.wire6 {
    left: 400px;
}

.wire7 {
    left: 500px;
}

.wire8 {
    left: 550px;
}

.wire9 {
    left: 600px;
}